@model CategoryViewModel

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Add Category</h1>

    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly"></div>

            <form asp-area="admin" asp-controller="dashboard" asp-action="addcategory" method="post" class="user">
                <div class="form-group category">
                    <label for="category_description">Category Name:</label>
                    <input type="text" class="form-control form-control-user"
                           id="exampleInputEmail" asp-for="Name" aria-describedby="emailHelp"
                           placeholder="Enter Category Name...">
                           <span asp-validation-for="Name"></span>
                </div>

                <div class="form-group">
                    <label for="category_description">Category Description:</label>
                    <textarea id="category_description" required class="form-control form-control-user category" asp-for="Description" style="resize:none; height:100px"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <input type="submit" value="Add Category" class="btn btn-primary btn-user btn-block" />
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->