@model PostViewModel

@{
    ViewData["Title"] = "Add Post";
}


<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Add Post</h1>

    <div class="row">
        <div class="col-md-7">
            <div asp-validation-summary="ModelOnly"></div>

            <form asp-area="admin" asp-controller="dashboard" asp-action="addpost" method="post" class="user">

                <div class="form-group">
                    <input type="text" asp-for="Title" placeholder="Enter post title" class="form-control form-control-user" />
                    <span asp-validation-for="Title"></span>
                </div>

                <div class="form-group">
                    <textarea type="text" class="form-control form-control-user"
                              id="exampleInputEmail" aria-describedby="emailHelp"
                              placeholder="Enter post body here..." asp-for="Body" style="resize:none; height: 300px; border-radius:10px; visibility:hidden"></textarea>
                    <span asp-validation-for="Body"></span>
                </div>

                <div class="form-group">

                    <select asp-for="CategoryId" class="form-control">
                        <option value="">Select post category</option>
                            @foreach (var category in Model.Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                    </select>
                    <span asp-validation-for="CategoryId"></span>
                </div>

                <input type="hidden" value="@Model.UserId" asp-for="UserId" />

                <input type="submit" value="Add Post" class="btn btn-primary btn-user btn-block" />

            </form>
        </div>
    </div>
    <hr>

</div>