@model CodebitsBlog.Areas.Admin.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Category-List";
}

<div class="container-fluid">

    <!-- Page Heading -->

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Category</h1>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add Category
        </button>

    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div asp-validation-summary="ModelOnly"></div>

                    <form asp-area="admin" asp-controller="dashboard" asp-action="addcategory" method="post" class="user">
                        <div class="form-group category">
                            <label for="category_description">Category Name:</label>
                            <input type="text" class="form-control form-control-user"
                                   id="exampleInputEmail" asp-for="Name" aria-describedby="emailHelp"
                                   placeholder="Enter Category Name...">
                            <span asp-validation-for="Name"></span>
                        </div>

                        <div class="form-group">
                            <label for="category_description">Category Description:</label>
                            <textarea id="category_description" class="form-control form-control-user category" asp-for="Description" style="resize:none; height:100px; visibility:visible; "></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <input type="submit" value="Add Category" class="btn btn-primary btn-user btn-block" />
                    </form>
                </div>
            </div>


        </div>


    </div>



    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Category</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th> Category Name</th>
                            <th>Category Description</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Sport</td>
                            <td>Sport pertains to any form of physical activity or game, often competitive and organized, that aims to use, maintain, or improve physical ability and skills while providing enjoyment to participants and, in some cases, entertainment to spectators. Sports can, through casual or organized participation, improve participants' physical health.</td>

                        </tr>
                        <tr>
                            <th>Travel Blog</th>
                            <th>A travel blog is a place where an individual can share thoughts about, experiences with and tips on travel.</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>