@{
    ViewData["Title"] = "Category-List";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">List Of Category</h1>
    <p class="mb-4">
        <a target="_blank"
           href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Category</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th> Category Name</th>
                            <th>Category Description</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Sport</td>
                            <td>Sport pertains to any form of physical activity or game, often competitive and organized, that aims to use, maintain, or improve physical ability and skills while providing enjoyment to participants and, in some cases, entertainment to spectators. Sports can, through casual or organized participation, improve participants' physical health.</td>

                        </tr>
                        <tr>
                            <th>Travel Blog</th>
                            <th>A travel blog is a place where an individual can share thoughts about, experiences with and tips on travel.</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>