<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">List Of Categories</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
             Add Category
        </a>
    </div>

    <table class="table table-sm table-light table-hover table-striped" style="width:200px">
        


        <tr>
            <td> Entertainment</td>
        </tr>

        <tr>
            <td> Sports</td>
        </tr>

        <tr>
            <td> Religion</td>
        </tr>

        <tr>
            <td> LifeStyle</td>
        </tr>
        

  
    </table>

</div>
<!-- /.container-fluid -->