<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                  <div class="col-lg-6 d-none d-lg"></div>
                       <div class="col-lg-6">
                            <div class="p-5">
                                 <h1 class="text-center">Add Category</h1>

                                      <form asp-area="admin" asp-controller="Home" asp-action="Category" method="post" class="user">
                                              <div class="form-group category">
                                                   <input type="email" class="form-control form-control-user"
                                                      id="exampleInputEmail" aria-describedby="emailHelp"
                                                       placeholder="Enter Category Name..." >
                                              </div>

                                              <div class="form-group">
                                                      <label for="category_description">Category Description:</label>
                                                        <textarea id="category_description" name="category_description" required class="form-control form-control-                    user category"></textarea>
                                                </div>

                                                    <input type="submit" value="Add Category" class="btn btn-primary btn-user btn-block" />
                                       </form>
                            </div>
                       </div>
                   </div>
                </div>
           </div>
        </div>
    </div>
</div>