    <!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Comment</h1>
    <p class="mb-4">
        <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Comment Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Posted</th>
                            <th>Post Title</th>
                            <th>Comment</th>
                            <th>Approve</th>
                            <th>Disapprove</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Date Posted</th>
                            <th>Comment</th>
                            <th></th>
                            <th><input type="submit" value="Approve" class="btn btn-primary btn-user btn-block" /></th>
                            <th><input type="submit" value="Disapprove" class="btn btn-primary btn-user btn-block" /></th>
                        </tr>


                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Date Posted</th>
                            <th>Post Title</th>
                            <th>Comment</th>
                            <th>Approve</th>
                            <th>Disapprove</th>
                        </tr>
                    </tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
