<div class="row justify-content-center">
<div class="col-xl-10 col-lg-12 col-md-9">
        <table border="1">
            <thead>Comment Details</thead>
            <tr>
                <td>Name</td>
                <td>DatePosted</td>
                <td>Post Title</td>
                <td>Comment</td>
               
                <td> <input type="submit" value="Approve" class="btn btn-primary btn-user btn-block" /></td>
                <td><input type="submit" value="Disaprove" class="btn btn-primary btn-user btn-block" /></td>
            </tr>

            <tr>
                <td>John Okafor</td>
                <td>12/03/2023</td>
                <td>Suspected burglar falls through ceiling and breaks right leg</td>
                <td> That why i will alway preach about honest living... how wish he is doing an honest job he wont meet such an erly death</td>
                
                <td> <input type="submit" value="Approve" class="btn btn-primary btn-user btn-block" /></td>
                <td><input type="submit" value="Disaprove" class="btn btn-primary btn-user btn-block" /></td>
            </tr>
            <tr>
                <td>John Okafor</td>
                <td>12/03/2023</td>
                <td>Suspected burglar falls through ceiling and breaks right leg</td>
                <td> That why i will alway preach about honest living... how wish he is doing an honest job he wont meet such an erly death</td>
              
                <td> <input type="submit" value="Approve" class="btn btn-primary btn-user btn-block" /></td>
                <td><input type="submit" value="Disaprove" class="btn btn-primary btn-user btn-block" /></td>
            </tr>
            <tr>
                <td>John Okafor</td>
                <td>12/03/2023</td>
                <td>Suspected burglar falls through ceiling and breaks right leg</td>
                <td> That why i will alway preach about honest living... how wish he is doing an honest job he wont meet such an erly death</td>
               
                <td> <input type="submit" value="Approve" class="btn btn-primary btn-user btn-block" /></td>
                <td><input type="submit" value="Disaprove" class="btn btn-primary btn-user btn-block" /></td>
            </tr>
            <tr>
                <td>John Okafor</td>
                <td>12/03/2023</td>
                <td>Suspected burglar falls through ceiling and breaks right leg</td>
                <td> That why i will alway preach about honest living... how wish he is doing an honest job he wont meet such an erly death</td>
              
                <td> <input type="submit" value="Approve" class="btn btn-primary btn-user btn-block" /></td>
                <td><input type="submit" value="Disaprove" class="btn btn-primary btn-user btn-block" /></td>
            </tr>
            <tr>
                <td>John Okafor</td>
                <td>12/03/2023</td>
                <td>Suspected burglar falls through ceiling and breaks right leg</td>
                <td> That why i will alway preach about honest living... how wish he is doing an honest job he wont meet such an erly death</td>
              
                <td> <input type="submit" value="Approve" class="btn btn-primary btn-user btn-block" /></td>
                <td><input type="submit" value="Disaprove" class="btn btn-primary btn-user btn-block" /></td>
            </tr>
            <tr>
                <td>John Okafor</td>
                <td>12/03/2023</td>
                <td>Suspected burglar falls through ceiling and breaks right leg</td>
                <td> That why i will alway preach about honest living... how wish he is doing an honest job he wont meet such an erly death</td>
                
                <td> <input type="submit" value="Approve" class="btn btn-primary btn-user btn-block" /></td>
                <td><input type="submit" value="Disaprove" class="btn btn-primary btn-user btn-block" /></td>
            </tr>
        </table>
</div>
</div>
