@model CodebitsBlog.Areas.Admin.ViewModels.PostViewModel

@{
    ViewData["Title"] = "Post";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Posts</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>User Id</th>
            <th>Post</th>
            <th>Category</th>
            <th>Comments</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>1</td>
            <td>13</td>
            <td>some text</td>
            <td>Sports</td>
            <td>4</td>
            <td>13th Nov</td>
        </tr>
        <tr>
            <td>1</td>
            <td>13</td>
            <td>some text</td>
            <td>Sports</td>
            <td>4</td>
            <td>13th Nov</td>
        </tr>
        <tr>
            <td>1</td>
            <td>13</td>
            <td>some text</td>
            <td>Sports</td>
            <td>4</td>
            <td>13th Nov</td>
        </tr>
        <tr>
            <td>1</td>
            <td>13</td>
            <td>some text</td>
            <td>Sports</td>
            <td>4</td>
            <td>13th Nov</td>
        </tr>
        <tr>
            <td>1</td>
            <td>13</td>
            <td>some text</td>
            <td>Sports</td>
            <td>4</td>
            <td>13th Nov</td>
        </tr>
        <tr>
            <td>1</td>
            <td>13</td>
            <td>some text</td>
            <td>Sports</td>
            <td>4</td>
            <td>13th Nov</td>
        </tr>
    </table>

</div>