<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Codebits Blog</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>




    <!-- Nav Item - Posts Collapse Menu -->
    <li class="nav-item">

        <div class=" py-2 collapse-inner rounded">

            <a class="collapse-item ms-5 px-3 text-white  " style="text-decoration:none; font-size:small" id="collapseUtilities" asp-controller="Dashboard" asp-action="Post">   <i class="fas fa-fw fa-cog"></i> <span> Post </span> </a>

        </div>

    </li>
   

    <!-- Nav Item - Categories Collapse Menu -->
    <li class="nav-item">

        <div class=" py-2 collapse-inner rounded">

            <a class="collapse-item ms-5 px-3 text-white  " style="text-decoration:none;  font-size:small" id="collapseUtilities" asp-controller="Dashboard" asp-action="CategoryList"> <i class="fa fa-list-alt" aria-hidden="true"></i> <span>Category </span></a>

        </div>

    </li>


    <!-- Nav Item Comments Collapse Menu -->
    <li class="nav-item">

        <div class=" py-2 collapse-inner rounded">

            <a class="collapse-item ms-5 px-3 text-white  " style="text-decoration:none;  font-size:small" id="collapseUtilities" asp-controller="Dashboard" asp-action="Comment">  <i class="fa fa-comment"></i> <span> Comments </span></a>

        </div>

    </li>

    <!-- Nav Item Users Collapse Menu -->
    <li class="nav-item">

        <div class=" py-2 collapse-inner rounded">

            <a class="collapse-item ms-5 px-3 text-white  " style="text-decoration:none;  font-size:small" id="collapseUtilities" asp-controller="Dashboard" asp-action="Profile"><i class="fa fa-user"></i> <span> Users </span></a>

        </div>

    </li>







    <!-- Divider -->
    <hr class="sidebar-divider">


</ul>